*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: gray;
}

 /*
 ######################################
                  NAV BAR
 ######################################
 */

nav {
  background-color: #151515;
  text-align: center;
}

nav ul li{
  color: #ffff;
  display: inline-block;
  padding-left:0em;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav img {
  width: 100px;
  height: 100px;
  float: left;;
}
/*
######################################
              MOVIE BOX
######################################
*/

.movielist-1 {
  display: flex;
  text-align: center;
  padding-left: 28em;
  padding-top: 10em;
  padding-bottom: 5em;
}

.movielist-2 {
  display: flex;
  text-align: center;
  padding-left: 28em;
  padding-bottom: 10em;
}

.movie-1 {
  background-color: white;
  width: 320px;
  padding-bottom: 1em;
  padding-top: 1em;
  border: 5px solid black;
  margin-left: -10em;
}

.movie-1 img {
  width: 220px;
  height: 326px;
}

.movie-1 a {
  color: white;
}
.movie-1 a:hover {
  color: white;
}

.movie-2 {
    background-color: white;
    width: 320px;
    padding-bottom: 1em;
    padding-top: 1em;
    border: 5px solid black;
    margin-left: -10em;
}

.movie-2 img {
  width: 220px;
  height: 326px;
}

.movie-2 a {
  color: white;
}
.movie-2 a:hover {
  color: white;
}

.movie-3 {
  background-color: white;
  width: 320px;
  padding-bottom: 1em;
  padding-top: 1em;
  border: 5px solid black;
  margin-left: -10em;
}

.movie-3 img {
  width: 220px;
  height: 326px;
}

.movie-3 a {
  color: white;
}
.movie-3 a:hover {
  color: white;
}

.movie-4 {
  background-color: white;
  width: 320px;
  padding-bottom: 1em;
  padding-top: 1em;
  border: 5px solid black;
  margin-left: -10em;
}

.movie-4 img {
  width: 220px;
  height: 326px;
}

.movie-4 a {
  color: white;
}
.movie-4 a:hover {
  color: white;
}

.movie-5 {
  background-color: white;
  width: 320px;
  padding-bottom: 1em;
  padding-top: 1em;
  border: 5px solid black;
  margin-left: -10em;
}

.movie-5 img {
  width: 220px;
  height: 326px;
}

.movie-5 a {
  color: white;
}
.movie-5 a:hover {
  color: white;
}

.movie-6 {
  background-color: white;
  width: 320px;
  padding-bottom: 1em;
  padding-top: 1em;
  border: 5px solid black;
  margin-left: -10em;
}

.movie-6 img {
  width: 220px;
  height: 326px;
}

.movie-6 a {
  color: white;
}
.movie-6 a:hover {
  color: white;
}

/*
######################################
            HOVER EFFECT
######################################
*/

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.80); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
